@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

$heading-selectors: "h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6";
html {
  box-sizing: border-box;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: $color-body;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scroll-behavior: smooth;


  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 35px !important;
  }

  h2 {
    font-size: 35px !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
  }

  h3 {
    font-size: 27px !important;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
  }
}


.btn {
  background-color: #005eb8;
  border-color: #005eb8;
  font-size: 14px;
  font-weight: 900 !important;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0 !important;
  padding: 0.375rem 1.56rem !important;

  &:hover {
    background-color: #4086c9 !important;
    border-color: #4086c9 !important;
  }
}
