//Colors
$primary: #041e42;
$secondary: #005eb8;
$white: #ffffff;
$color-headline: $primary;
$color-body: $primary;
$base-font-family: 'Roboto', sans-serif;
$enable-responsive-font-sizes: true;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-base: $base-font-family;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base;
$font-size-sm: $font-size-base;


$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 900;

$font-weight-base: $font-weight-light;
$line-height-base: 1.5;

$h1-font-size: 52px;
$h2-font-size: 40px;
$h3-font-size: 31px;
$h4-font-size: 16px;

$headings-font-family: $base-font-family;
$headings-font-weight: 700;
$headings-line-height: 1.2;
$headings-color: $color-headline;
