@import "variables";
@import "typography";
@import "bootstrap/scss/bootstrap";
@import "icon-list";

// Global

@media (max-width: 768px) {
  .logo{
    text-align: center;
  }
}

.what-we-do__content.grey-bg{
  padding: 20px;
}

.grey-bg {
  background-color: #f5f6f7;
}

.secondary-background {
  background-color: $secondary;
}

.primary-background {
  background-color: $primary;
}

.section-padding {
  padding: 100px 0;
  @media (max-width: 768px) {
    padding: 50px 0;
  }
}

section {
  header {
    margin-bottom: 40px;

    h2 {
      display: flex;
      align-items: center;

      &:before {
        content: "";
        width: 39px;
        height: 39px;
        background-color: #005eb8;
        margin-right: 17px;
      }
    }
  }


}

// Hero Section
.hero {
  background: url("../images/img-header@2x.webp") no-repeat center center;
  background-size: cover;
  padding: 50px 60px 0;
  @media (max-width: 768px) {
    padding: 20px 25px 0;
  }

  .hero-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 800px;
    @media (max-width: 768px) {
      height: 650px;
      padding: 0;
    }
  }

  .content-wrapper {
    max-width: 525px;
    padding-left: 30px;
    border-left: solid 1px #fff;
    @media (max-width: 768px) {
      max-width: 380px;
    }
    h1 {
      font-size: 52px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #fff;
      @media (max-width: 768px) {
        font-size: 40px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #fff;
      }
    }

    h3{
      color: #fff;
      font-size: 20px;
    }

    .hero-copy {
      p {
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #fff;
      }
    }
  }
}

#siteHeader {
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  padding: 22px 0;
}

// What we do

.what-we-do {
  &__points {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .point {
      border-left: solid 1px #005eb8;
      @media (max-width: 768px) {
        &:last-child{
          border-left: none;
        }
        &:not(:last-child) {
          border-left: none;
          border-bottom: solid 1px #005eb8;
          margin-bottom: 15px;
        }
      }

      .point-content {
        padding: 15px 0 15px 0px;
        @media (min-width: 768px) {
          max-width: 300px;
          padding-left: 30px;
        
        }

        h4 {
          font-size: 18px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: #041e42;
        }
      }
    }
  }

  &__content {
    margin-top: 40px;
    h3{
      font-weight: 400;
      &+p{
        margin-bottom: 20px;;
      }
    }
    p+p{
      margin-top: -10px;
    }
  }
  &__ipa-family{
    margin: 80px 0 40px;
    text-align: center;
    h2{
      margin-bottom: 10px;
    }
    .logos{

      &:before{
        display: block;
        content: "Home of";
      }
      .logos-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img{
        width: 130px;
      }
    }
  }
}

// Delivery sectors

.delivery-sectors-work{
  .sectors{
    .sector__image {
      height: 500px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      padding: 20px 30px;
      margin-bottom: 35px;

      h3 {
        font-size: 31px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #fff;
      }
    }
  }
}

// Sectors

.sectors {
  //display: flex;
  //align-items: center;
  //justify-content: space-between;
  //flex-wrap: wrap;
  display: grid;
  grid-gap: 80px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

  .sector-project{
    .sector-project-copy{
      padding: 15px;
      h3+p{
        margin-top: -8px;
      }
      h3:not(:first-child){
        margin-top: 20px;;
      }
      h3{
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #041e42;

      }
      p{
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #041e42;
      }
    }
    a{
      font-size: 24px;
      font-weight: 500;
      color: $secondary;
      cursor: pointer;
      &:before{
        content: "\f0b2";
        font-family: FontAwesome;
        margin-right: 10px;
       
      }
    }
  }

  &__sector {
    &.sectors__sector--commounications {
      .sector__image {
        background: url("../images/communications@2x.webp") no-repeat center center;
        background-size: cover;

        h3 {
          &:before {
            content: url("../images/icon-communications.svg");
            margin-right: 15px;
          }
        }

      }
    }

    &.sectors__sector--water {
      .sector__image {
        background: url("../images/water@2x.webp") no-repeat center center;
        background-size: cover;

        h3 {
          &:before {
            content: url("../images/icon-water.svg");
            margin-right: 15px;
          }
        }
      }
    }

    &.sectors__sector--transportation {
      .sector__image {
        background: url("../images/transportation@2x.webp") no-repeat center center;
        background-size: cover;

        h3 {
          &:before {
            content: url("../images/icon-transport.svg");
            margin-right: 15px;
          }
        }
      }
    }

    &.sectors__sector--energy {
      .sector__image {
        background: url("../images/energy@2x.webp") no-repeat center center;
        background-size: cover;

        h3 {
          &:before {
            content: url("../images/icon-energy.svg");
            margin-right: 15px;
          }
        }
      }
    }

    .sector__image {
      height: 300px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      padding: 20px 30px;
      margin-bottom: 35px;



      h3 {
        font-size: 31px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #fff;
      }
    }


  }
}


// Outcomes
.outcomes {
  text-align: center;

  h2 {
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
  }

  p {
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #fff;
  }
}


// Enquiry

.enquiry-form {
  text-align: center;
  .bootstrap-select .bs-ok-default::after {
    width: 0.3em;
    height: 0.6em;
    border-width: 0 0.1em 0.1em 0;
    transform: rotate(45deg) translateY(0.5rem);
  }
  .btn.dropdown-toggle:hover {
    outline: none !important;
    background: transparent !important;
    border-color: transparent !important;
  }

  .btn.dropdown-toggle:focus {
    outline: none !important;
  }

  h2 {
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
  }

  .enquiry-form-wrapper {
    max-width: 630px;
    margin: 0 auto;
    text-align: left;
    .form-header{
      text-align: center;
      color: #ffffff;
      font-size: 18px;
      margin-bottom: 30px;;
    }
    @media (max-width: 768px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    .name-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 768px) {
        flex-direction: column;
      }

      .form-group {
        width: 300px;
        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }

    label {
      color: #ffffff;
      font-size: 19px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.52;
      letter-spacing: normal;

    }

    input:not([type=submit]) {
      border-radius: 0;
      padding: 1.5rem 0.75rem;
    }

    textarea {
      border-radius: 0;
    }

    .form-footer {
      margin-top: 40px;
      text-align: center;
      @media (max-width: 768px) {
        .btn {
          width: 100%;
        }
      }
    }
  }
}

#siteFooter {
  background-color: #000;
  padding: 35px 0 15px;
  @media (max-width: 768px) {
    padding: 35px 0;
  }

  .footer-wrapper {
    padding-left: 60px;
    padding-right: 60px;
    @media (max-width: 768px) {
      padding-left: 25px;
      padding-right: 25px;
    }
    .branding {
      border-bottom: solid 1px #fff;
      padding-bottom: 35px;
      @media (max-width: 768px) {
        border: none;
        .logo {
          border-bottom: solid 1px #fff;
          padding-bottom: 15px;
          margin-bottom: 15px;
          img{
            width: 120px;
            height: auto;
          }
        }
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
      }

      .social-links {
        .social-link {
          margin-left: 10px;
          color: #ffffff;
          font-size: 18px;
          text-decoration: none;

          &:hover {
            color: #4086c9;
            font-size: 18px;
            text-decoration: none;
          }
        }

        @media (max-width: 768px) {
          .social-link {
            font-size: 36px;

            &:hover {
              color: #4086c9;
              font-size: 36px;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .copyright {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      margin-top: 10px;
    }

    .disclaimer {
      p {
        font-size: 10px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #fff;
        @media (max-width: 768px) {
          margin-bottom: 8px;
        }
      }
    }

    .disclaimer-links {
      .link {
        margin-left: 20px;
      }

      a {
        font-size: 10px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #fff;
      }
    }
  }
}
